<!DOCTYPE HTML>

<html>


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Rocket Fuel Coffee</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="javascript2.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="social-media">
		<ul>
			<li><a href="#"><img src="fb-logo.png"></a>
			<li><a href="#"><img src="twitter-logo.png"></a>
			<li><a href="#"><img src="instagram-logo.png"></a>
			<li><a href="#"><img src="pinterest-logo.png"></a>
		</ul>
	</div>
		<img src="coffee-stain.jpg" class="logo">
	<div class="titlebar">
		<h1>Rocket Fuel</h1>
	</div>

	<div class="navbar">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/menu">Menu</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>	
	
	<div class="menu">
		<h2>Coffee</h2>
		<h3>Rocket Fuel Signature Blend - $4.99</h3>
		 The signature is a seductive blend of beans from Latin America and Indonesia, with a gentle touch of Italian Roast lending depth, soul and sweetness.
		 <h3>Caffiene Infusion - $4.99</h3>
		 It's a special blend of beans from Latin America and Asia/Pacific darkly roasted to produce a rich and caramelly sweetness.
		 <h3>Morning Jolt - $4.99</h3>
		 This lush part of southern Guatemala is nestled among three volcanoes. The high altitude and loamy soil create conditions that are nearly ideal for coffee growers and coffee lovers alike.
		 <h3>Jitter Juice - $4.99</h3>
		 Straight up, pure, unfiltered <b>caffeine</b>.

		<h2>Pastries</h2>
		<h3>Blueberry Scone - $3.99</h3>
		 The light biscuit texture provides the ideal backdrop for a bounty of dried blueberries and lemon zest. Sweet yet tart, our classic Blueberry Scone calls for a balanced coffee, such as Rocket Fuel Signature Blend.
		 <h3>Old-Fashioned Glazed Dougnut - $3.99</h3>
		 Anyone who's ever dropped into a local bakery for a morning snack can testify to the appeal of coffee and a doughnut. Here’s an Old-Fashioned Doughnut, light and fluffy and dipped in a fine, sweet glaze for a dose of happiness. Absolutely delicious – any day of the week.
		 <h3>Croissant/Croissant au Chocolat - $2.99/$3.99</h3>
		Our classic Croissant is a celebration of 100 percent butter. The golden, crunchy top and soft, flakey layers of nirvana invite you to wake up with a cup of Morning Jolt.

	</div>


</body>
</html>