<!DOCTYPE HTML>

<html>


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Rocket Fuel Coffee</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="javascript2.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

		<img src="coffee-stain.jpg" class="logo">
	<div class="titlebar">
		<h1>Rocket Fuel</h1>
	</div>

	<div class="navbar">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/menu">Menu</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>	

</body>
</html>